[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pynamodb = "*"
boto3 = "*"
botocore = "*"
pytest = "*"
pytest-django = "*"
moto = "*"

[dev-packages]
black = ">=24.10.0"
flake8 = ">=7.1.0"
isort = ">=5.13.0"
mypy = ">=1.13.0"
pre-commit = ">=4.0.0"
pytest = ">=8.3.0"
pytest-django = ">=4.9.0"
pytest-cov = ">=6.0.0"
pytest-timeout = ">=2.3.0"
coverage = ">=7.6.0"
moto = ">=5.0.0"
sphinx = ">=8.1.0"
sphinx-rtd-theme = ">=3.0.0"
django-stubs = ">=5.1.0"
boto3-stubs = {extras = ["dynamodb"], version = ">=1.42.0"}
ipdb = ">=0.13.13"
faker = ">=20.1.0"
django-redis = ">=5.4.0"
gunicorn = ">=21.2.0"

[requires]
python_version = "3.13"
